@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.ProseMirror p > br.ProseMirror-trailingBreak {
  display: none !important;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/wotfard/Wotfard-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: 'Wotfard', sans-serif;
}

html {
  --s: 10px; /* control the size*/
  --c1: #f0f0f0;
  --c2: #ffffff;

  --_c:5%,#0000 75%,var(--c1) 0;
  --_g:/var(--s) var(--s) conic-gradient(at var(--_c));
  --_l:/var(--s) var(--s) conic-gradient(at 50% var(--_c));
  background:
    0 calc(7*var(--s)/10) var(--_l),
    calc(var(--s)/2) calc(var(--s)/5) var(--_l),
    calc(var(--s)/5) 0 var(--_g),
    calc(7*var(--s)/10) calc(var(--s)/2) var(--_g),
    conic-gradient(at 90% 90%,var(--c1) 75%,var(--c2) 0)
    0 0/calc(var(--s)/2) calc(var(--s)/2);
}